body
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica",Arial,sans-serif;
}
.row
{
    width: 100%;
}

.logo
{
    width: 70%;
    margin: 20px;
}
.logo img
{
    max-width: 100%;
    height: auto;
    max-height: 150px
}
.contact-information
{
    background-image: linear-gradient(to right, #fff , #e7e8e8);
    padding-top: 25px;
    background-color: #dcddde;
    max-height: 85px;
    height: 100%;
}
.contact-icons
{
    display: inline-flex;
    padding: 10px;
}
.contact-icons p
{
       color: gray;

}
.contact-icons svg
{
    color:#a32024;
}
.contact-information i
{
    color: #a32024;
    margin-left: 20px;
    
}
.fontawesome-icons
{
    display: inline-flex;
}
.container i span
{
    font-size: 12px;
    color: gray;
    padding-left: 8px
}
.search
{
    padding-top: 50px;
    margin-bottom: 50px;
}
.search input
{
    display: inline-block;
    background-color:#dcddde;
    width: 400px;
    border-right: none;
}
.search-button
{
    display: inline-flex;
    border: 1px solid #a32024;
    background-color: #a32024;
    border-radius: 10%;
    width: 60px;
    color: #fff;
    padding: 10px;
    text-align: center;

}

.search-button i
{
    padding: 8px;
    color: #fff;
    margin: 0 auto;
}
.main-nav
{

        padding-top: 88px;
}
.main-nav .navbar
{
    padding: 0;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.main-nav ul 
{
    padding: 0;
}
.main-nav ul li
{
display: inline-block;
    padding: 25px;
}
.main-nav ul li a
{
    text-decoration: none;
    color: #58595b;
}
.content
{
    width: 660px;
}
.main-nav ul li a::after
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #a32024;
    transition: width .3s;
}
.main-nav ul li a:hover::after
{
    width: 100%;
    transition: width .3s;
}
.slider
{
    position: relative;
}
.slider-img img
{
    width: 100%;
    height: auto;
    max-height: 400px;
}
.slider-text
{
        position: absolute;
    top: 124px;
    width: 50%;
    left: 68px;
    color: #fff;
}
.slider-text h1
{
        font-size: 47px;
}
.slider-buttons
{
    position: absolute;
    top: 330px;
    left: 70px
}
.slider-buttons a
{
        background-color: #a41e22;
padding: 15px;
    font-size: 12px;
    margin: 15px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: #fff;
}
.flexslider .slides img
{
    height: 500px;
}
.flex-direction-nav .flex-next {
  height: 50px;
    text-align: center;
    width: 50px;
    background-color: #006699;
    border-radius: 50%;
}
.flex-direction-nav a:before
{
    color: #fff;
}
.flex-prev
{
height: 50px;
    text-align: center;
    width: 50px;
    background-color: #006699;
    border-radius: 50%;
}
.flexslider:hover .flex-direction-nav .flex-prev
{
    height: 50px;
}

.KCORP-INTRODUCTION
{
    padding-top: 20px;
    padding-left: 50px;
}
.kcorp-content
{
    padding-top: 50px;
    margin-bottom: 29px;
}
.KCORP-INTRODUCTION span
{
    color: #005495;
}
.KCORP-INTRODUCTION p
{
    color: #000;
   font-size: 26px;
}
.kcorp-introduction-image img
{
    height: auto;
    width: 100%;
    max-height: 450px;
}


.read-more-btn a
{
font-family: Futura-bold;
    padding: 8px 37px;
    background-color: #005495;
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.blue-btn
{
background-color: #005495;
    padding: 11px;
    width: 97px;
    color: #fff;
    text-align: center;
    height: 30px;
    font-size: 9px;
    border: 1px solid #005495;
    border-radius: 4px;
    margin-bottom: 20px;
}
.offers
{
        margin-top: 20px;
    padding-top: 20px;
    background-color: #f2f2f3;;
}
.offer-img img
{
    display: inline-block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 4px solid #f2f2f3;
    padding: 2px;
}
.offers h2
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}
.offers-content
{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: .2s;
    text-align: center;
}
.offers h5
{
    text-align: center;
    color: #999b9e;
    max-width: 65%;
    padding-left: 100px;
}
.offers span
{
    color: #999b9e;
}
.offers h1
{
    text-align: center;
    color: #58595b;
}

.offer-text
{
    margin-top: 20px;
}
.offer-description
{

color: #58595b;
    font-size: 19px

}
.offer-description p
{
    font-size: 13px;
    color: gray;
    text-align:center;
}
.products
{
   
 margin-top: 20px   
}
.products h2
{
    color: #58595b;
    text-align: center;
}

#gear-img
{
    margin: 0 auto;
        width: 300px;
    height: 300px;
    background-image: url("../images/Untitled-4.png");
    background-size: 100% 100%;
    transition: transform 3s ease-in-out;
}
#gear-img:hover
{
      transform:rotate(180deg);  
}
#gear-img:hover img

{
      transform:rotate(-180deg);   
}

.inside-img {
    width: 300px;
    height: 300px;
}
.inside-img img
{
    width: 160px;
    height: 160px;
    overflow: hidden;  
    transition: transform 3s ease-in-out;
}
.product-title h2
{
    margin-top: 20px;
    color: #105f9c;
}

.product-types ul
{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.product-types ul li
{
    
    margin: 5px;
    border-bottom:1px solid gray;
}
.help h3
{
    color: #fff;
}
.help h2
{
    color: #fff;
}
.help p
{
    color: #fff;
}
.help-form
{
    float: right;
}
.read-more-btn
{
    text-align: center;
}
.service a
{
    background-color: #005495;
    padding: 11px;
    width: 97px;
    color: #fff;
    text-align: center;
    height: 30px;
    font-size: 9px;
    border: 1px solid #005495;
    border-radius: 4px;
    margin-bottom: 20px;
}

.service
{
    text-align: center;
    background-image: url("../images/bgall2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 350px;
    margin-bottom: 30px;
}
.service-text h1
{
    color: #fff;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20PX;
}

.qualfication
{
    background-image: url("../images/bgall5.jpg");
    background-size: 60% 100%;
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-color: #dbdbdb;
    margin-bottom: 30px;
}
.qualfication-item
{
      width: 30%;
    padding-top: 25px;
        padding-left: 16px;

}
.item-icon
{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
}

.qualfication h5
{
    color: #fff;
    text-align: right;
    padding-top: 65px;
}


.simicircle
{
    margin-bottom: 20px;
    width: 77px;
    height: 80px;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background: linear-gradient(90deg, rgba(0,65,120,.4) 55%, rgba(120,171,205,.7) 50%);
    float: left;
    margin-right: 20px;
    border-left: 0;
}
.simicircle
{
   padding: 25px; 
}
.item-text p
{
    padding-top: 20px;
    color:#646464;
}
.help
{
    background-image: url("../images/bg4.jpg");
    background-size: 100% 100%;
    height:500px;
    background-repeat: no-repeat;
}

.help
{
    text-align: center;
    padding-top: 20px;
        height: 618px;

}
.help-text h1
{
    color: #fff;
}
.help-text h3
{
    color: #fff;
}
.help-des p
{
    color: #fff;
    padding-top: 15px;
}


.form-input
{
     margin: 10px;
       background-color: red;
    width: 50px;
    background-color: #a9a8a8;
 
}
.help-form
{
    float: right;
    width: 85%;
}
.help-btn
{

background-color: #005495;
    padding: 8px;
    width: 97px;
    color: #fff;
    text-align: center;
    height: 30px;
    font-size: 9px;
    border: 1px solid #005495;
    border-radius: 4px;
    margin-bottom: 20px;

}
.help-button
{
    padding-top: 20px;
}

.map-section
{
    margin-top: 30px;
}
.map-section iframe
{
    width: 100%;
    height: 300px;
}


.footer
{
    background-position: center center; 
    background-image: url("../images/footer-bg02.png");
    background-size: 100% 100%;
    width: 100%;
    background-color: #0000ff96;
    background-repeat: no-repeat;
  
}
.footer-contact h4,p
{
    color: #fff;
}
.help h2 {
    font-size: 75px;
}
.contact ul li a
{
    pointer-events: none;
    color: gray;
    cursor: none;
    text-decoration: none;
    color: gray;
}
.footer-links h2
{
    color: #fff;
}
.footer-links ul
{
    padding: 0;
    list-style-type: none;
}
.footer-contact ul
{
    list-style-type: none;
}
.footer-contact ul li
{
     display: inline-block;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}
.footer-contact ul li a
{
    color:#222222;
}
.footer-contact ul li svg
{
        font-size: 25px;
}
.fas fa-caret-right
{
    color: #fff;
}
.footer-links i
{
    padding-right: 20px;
}
.footer-links ul li
{
    color: #fff;
    margin: 10px;
}
.footer-links ul li a
{
    color: #fff;
    text-decoration: none;
}

.contact
{
    color: #fff;
}
.contact ul
{
    list-style: none;
    padding: 0;
}
.contact ul li
{
    margin: 10px
}
.contact ul li a
{
    color: #fff;
}
.contact ul li svg
{
    margin-right: 20px;
}


.blue-background {
    opacity: 0.8;
    height:100%;
    filter: alpha(opacity=50);
    background-color: #004a6b;
    padding-top: 80px;
}
.footer-search input
{

    display: inline-block;
    background-color:#dcddde;
    width: 275px;
    border-right: none;
}
.footer-search-button
{
      display: inline-flex;
    border: 1px solid #a32024;
    background-color: #a32024;
    border-radius: 10%;
    width: 60px;
    padding: 14px;
    color: #fff;
    text-align: center
}
.footer-search-button i
{
    text-align: center;
    color: #fff;
    padding: 10px
}
.copyrght 
{
    background-color: gray;
    height: 50px;
}
.copyrght p
{
    margin: 0;
    text-align: center;
}

.slick-arrow {
    border: 0;
    border-radius: 0%;
    font-size: 0;
    height: 248px;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    background: #005495;
}

.slick-arrow::before {
    color:gray;
}


#main-content {
    padding-top: 0;
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    margin-top: 0;
    line-height: 25px;
    padding: 20px 0;
}

#block-kcorp-page-title {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 10px;
    line-height: 55px;
    background: #f7f7f7;
    padding: 5px 10px;
}
#content {
    background: #fff;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
#block-kcorp2-content p
{
    color: #000;
    padding: 10px;
}
.info-container-data-text p
{
    color: gray;
}
#sidebar
{
   padding-top: 0;
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    margin-top: 0;
    line-height: 25px;
    padding: 20px 0; 
    box-shadow: 0 0 5px #ccc;
}

.info-container {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}
.info-container-img {
    display: inline-block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 4px solid #f2f2f3;
    padding: 2px;
}
.info-container:hover .info-container-img {
    border: 4px solid #fff;
    padding: 2px;
    box-shadow: -4px 6px 36px 0px rgba(0,0,0,0.75);
}
#sidebar h2
{
    text-align: center;
}
.info-container:hover
{
    color: #005495;
}
.info-container-data-text :hover
{
      color: #005495;
}
.info-container-data-text {
    display: inline-block;
    width: 70%;
    min-height: 30px;
    text-align: center;
    margin: 0px 15%;
    max-height: 75px;
}
.service-container-img img {
    display: inline-block;
    width: 200px;
    height: 200px;
    top: 20px;
    right: 44px;
    position: relative;
    border-radius: 50%;
    padding: 25px;
}

@media  screen and (max-width: 800px) and (min-width: 360px){
.slider-text {
    position: absolute;
    top: 24px;
    width: 50%;
    left: 68px;
    color: rgb(255, 255, 255);
}
    .main-nav ul
    {
        display: grid;
        padding: 15px;
    }
    .slick-arrow {
    border: 0;
    border-radius: 0%;
    font-size: 0;
    height: 248px;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    background: #fff;
}
    
    #gear-img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url(../images/Untitled-4.png);
    background-size: 100% 100%;
    transition: transform 3s ease-in-out;
}
    .product-title h2 {
    color: #105f9c;
    font-size: 12px;
}
    .slider-text h1 {
    font-size: 15px;
}
.slider-buttons {
    position: absolute;
    top: 315px;
    left: 39px;
}
    .search
    {
        display: none;
    }
    .btn {
  font-size: 5px;
    background-color: rgb(164, 30, 34);
    width: 69px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 10px;
}
    
}