

 <footer>

     <div class="footer">
         <div class="blue-background">
             <div class="container">
                 <div class="row">

                     <div class="col-md-4 col-sm-3 col-xs-12">
                         <div class="footer-contact">
                           {{page.footer_desc}}
                         </div>
                         <div class="social-media">
                           {{page.social_media}}
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-12 col-xs-12">
                         <div class="footer-links">
                         {{page.explore_links}}
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-12 col-xs-12">

                         <div class="contact">                         
                           {{page.footer_contact}}
                         </div>
                         <div class="footer-search">
                             <center>
                                 <input type="text" class="form-control" placeholder="Search entier store here">

                                 <button class="footer-search-button"><i class="fa fa-search"></i></button>
                             </center>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="copyrght">
         <p>Copright@Fikra All rights reserved</p>
     </div>
 </footer>
