                   <div class="header">

                            <div class="row">
         <div class="col-md-3 col-sm-12 col-xs-12">
             <div class="logo">
                 <img src="themes/KCORP2/assets/images/Untitled-2.png" class="img-responsive">
             </div>
             <!--end of logo-->

         </div>
         <!--end of col-->


         <div class="col-md-9 col-sm-12 col-xs-12">
             <div class="contact-information">
                 <div class="container">
                     {{page.contact}}
                 </div>
                 <div class="search">
                     <center>
                         <input type="text" class="form-control" placeholder="Search entier store here">

                         <button class="search-button"><i class="fa fa-search"></i></button>
                     </center>
                 </div>
             </div>
             <!--end of contact-->
             <div class="main-nav">
                 <nav class="navbar navbar-expand-lg navbar-light">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                     </button>

                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                         {{page.main_navbar}}
                        
                     </div>
                 </nav>
             </div>
         </div>
     </div>
     <!--end of row-->
 </div>
 <!--end of header-->