{% include directory ~ '/header.html.twig' %}
<div id="main-content">
    <div class="container">
        <div class="row">
         {% if page.side_bar %}
            <div class="content-area col-md-9 col-sm-12 col-xs-12">
                <section id="content">
                    <div id="content-wrap">
                        {{page.content}}
                    </div>
                </section>
            </div>
            <aside id="sidebar" class="col-md-3 col-sm-12 col-xs-12">
                {{page.side_bar}}
            </aside>
             {% else %}
            <div class="content-area col-md-12 col-sm-12 col-xs-12">
                <section id="content">
                    <div id="content-wrap">
                      {{page.content}}
                    </div>
                </section>
            </div>
           {% endif %}
        </div>
    </div>
</div>
{% include directory ~ '/footer.html.twig' %}
