 
{% include directory ~ '/header.html.twig' %}
             

 <section>
     <div class="slider">
         {{page.slider}}
     </div>
 </section>
 <section>
     <div class="KCORP-INTRODUCTION">
         <div class="row">
             <div class="col-md-6 col-sm-4 col-xs-12">
                 {{page.kcorp_introduction}}
                 <center>
                     <button class="blue-btn">READ MORE</button>
                 </center>
             </div>
             <div class="col-md-6 col-sm-4 col-xs-12">
                 <div class="kcorp-introduction-image">
                     <img src="themes/KCORP2/assets/images/khusheim%20Web%20Design%20NEW.jpg" class="img-responsive">
                 </div>
             </div>
         </div>

     </div>
 </section>
 <section>
     <div class="offers">
         <div class="container">
             {{page.offers}}
             {{page.offers_item}}
         </div>

          </div>
 </section>
 <section>
     <div class="products">
         <h2>PRODUCTS</h2>
         {{page.products}}




     </div>

 </section>
 <section>
     {{page.after_service}}
 </section>
 <section>
     <div class="qualfication">
         <div class="container">
                 {{page.qualification}}
         </div>


     </div>
 </section>
 <section>
     <div class="help">
         <div class="container">
         {{page.help}}
             <div class="help-form">
                 <form action="" class="form-inline">

                     <div class="form-group">
                         <input type="text" style="width: 285px;" class="form-control form-input" placeholder="Name">
                     </div>
                     <div class="form-group">
                         <input style="width: 285px;" stype="email" class="form-control form-input" placeholder="Email">
                     </div>
                     <div class="form-group">
                         <div class="help-button">
                             <center>
                                 <button class="help-btn">SUBMIT</button>
                             </center>
                         </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
 </section>
 <section>
     <div class="map-section">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.8151125847858!2d35.870220814599!3d31.993027130852173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca102cbe2787f%3A0xbdd6f87e40fa5da2!2sFikra%20for%20business%20development!5e0!3m2!1sen!2sjo!4v1573103897430!5m2!1sen!2sjo" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
     </div>
 </section>
{% include directory ~ '/footer.html.twig' %}
